
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>

</head>
<body>
<h1>Importer kunde</h1>
    <br/>
<div id="import">
    
    @using (Html.BeginForm("DownloadTemplate", "Import", FormMethod.Post))
    {
       <span>Brug denne template til at importere kunden</span>
       
        <input type="submit" value="Download" />
    }
    
    <br/>
    <div style="height: 1px; background-color: #222222;"></div>
    <br />

    @using (Html.BeginForm("import", "Import", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.Raw(ViewBag.Error)
        <span>Vælg en Excel fil</span><input type="file" name="excelfile"/>
        <br/>
        <input type="submit" value="Importer" id="importbtn" onclick="showPageLoadingSpinner()"/>
    }
</div>
<h1 style="display: none" id="load">Loading...</h1>
    @section scripts{
    <script type="text/javascript">
    $("#importbtn")
        .click(function() {
            $("#import").hide();
            $("#load").show();
        })
    </script> 
    }

</body>
</html>
