#popupAddContact {
    width: 190px;
    height: 40%;
    position: fixed;
    top: 20%;
    left: 35%;
    border: solid lightgray 5px;
    background-color: lightgray;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.8);
    z-index: 1;
}
