.history-block {
    border: 1px dashed rgb(178, 178, 178);
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #A19E9E;
    border-right: 4px solid #A19E9E;
}

.historySpan {
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    border: 1px solid;
    cursor: pointer;
}


.deletedHistoySpan {
    border-color: red;
    background-color: rgb(248, 211, 187);
}

    .deletedHistoySpan:hover {
        background-color: rgb(240, 176, 152);
    }

.changedHistoySpan {
    border-color: rgb(0, 177, 200);
    background-color: rgb(205, 244, 247);
}

    .changedHistoySpan:hover {
        background-color: rgb(134, 224, 240);
    }

.deleted {
    background-color: #ffd4d4;
    color: #b91212;
}

.changed {
    background-color: #c5dcf8;
    color: #142885;
}

#historyList > div {
    margin-top: 1px;
    padding: 3px;
    padding-left: 6px;
}
.historyHover  {
    position: relative;
    display: inline-block;
    
}
.historyHover:hover .tooltiptext {
    visibility: visible;

}
.historyHover .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
}
